apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer # عشان ناخد Public IP نجرب بيه الـ API
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        # ده رابط صورتك في الـ ACR
        image: mazenelsayad1234.azurecr.io/backend:v1
        ports:
        - containerPort: 3000
        env:
        # هنا السحر: الكود هيكلم السيرفس اللي اسمها postgres
        - name: DATABASE_URL
          value: "postgresql://myuser:mypassword@postgres:5432/mydb?schema=public"
        - name: NODE_ENV
          value: "production"
