name: Backend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3

    - name: Log in to ACR
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.ACR_SERVER }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: ./backend
        file: ./backend/Dockerfile
        push: true
        tags: |
          ${{ secrets.ACR_SERVER }}/backend:${{ github.sha }}
          ${{ secrets.ACR_SERVER }}/backend:latest

    - name: Update Kubernetes Manifest
      run: |
        cd infra/k8s
        sed -i "s|image: .*|image: ${{ secrets.ACR_SERVER }}/backend:${{ github.sha }}|g" backend.yaml
        cat backend.yaml

    - name: Commit and Push Changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git stash
        git pull origin main --rebase
        git stash pop || echo "No changes to pop"
        git add infra/k8s/backend.yaml
        git commit -m "Update backend image tag to ${{ github.sha }}" || echo "No changes to commit"
        git push origin main
